.app {
  display: flex;
  flex-direction: column;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flexgrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

img {
  width: 300px;
}

/* ->> My styles <<- */

/* Home page */
.aboveCardContent {
  height: 50%;
}
